:root{
  --black1:hsl(0, 0%, 0%);
  --black2:hsl(0, 0%, 15%);
  --black3:hsl(0, 0%, 20%);
  --black4:hsl(0, 0%, 30%);
  --black5:hsl(0, 0%, 40%);
  --white1:hsl(0, 0%, 100%);
  --white2:hsl(0, 0%, 95%);
  --white3:hsl(0, 0%, 90%);
  --white4:hsl(0, 0%, 80%);
  --white5:hsl(0, 0%, 70%);
  --font1: tahoma;
  --font2: tahoma;
  --fontSize-B:28px;
  --fontSize-M:21px;
  --fontSize-S:17px;
  --radius-B:18px;
  --radius-M:12px;
  --radius-S:6px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font2);
  font-size: var(--fontSize-M);
  scrollbar-color: var(--blue) var(--white3);
  scrollbar-width:7px;
  scrollbar-gutter: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
::selection{
  background-color: var(--blue);
}
*{
  color: var(--black3);
}
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--white3);
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background-color: var(--white3);
}
::-webkit-scrollbar-thumb{
  background-color: var(--orange);
  border-radius: 30px;
}
input{
  outline: none;
  border:none;
  padding: 5px;
  font-size: var(--fontSize-M);
}
button{
  outline: none;
  border: none;
  padding: 5px;
  font-size: var(--fontSize-M);
  cursor: pointer;
}
.link{
  color: var(--blue);
  text-decoration: underline;
}
.button{
  background-color: red;
}
.input[type="text"] {
  background-color: red;
}
